resources/wsdl/parlayx_audio_call_multimedia_interface_3_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- May 25, 2007 -->
<wsdl:definitions
   name="audio_call_multimedia_interface"
   targetNamespace="http://www.csapi.org/wsdl/parlayx/audio_call/multimedia/v3_1/interface"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:audio_call_multimedia="http://www.csapi.org/wsdl/parlayx/audio_call/multimedia/v3_1/interface"
   xmlns:parlayx_common_faults="http://www.csapi.org/wsdl/parlayx/common/v3_0/faults"
   xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v3_1"
   xmlns:audio_call_xsd="http://www.csapi.org/schema/parlayx/audio_call/v3_2"
   xmlns:audio_call_multimedia_local_xsd="http://www.csapi.org/schema/parlayx/audio_call/multimedia/v3_1/local">

   <wsdl:import namespace="http://www.csapi.org/wsdl/parlayx/common/v3_0/faults" location="parlayx_common_faults_3_0.wsdl"/>

   <wsdl:types>
      <xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.csapi.org/schema/parlayx/audio_call/multimedia/v3_1/local">
         <xsd:import namespace="http://www.csapi.org/schema/parlayx/common/v3_1" schemaLocation="parlayx_common_types_3_1.xsd"/>
         <xsd:import namespace="http://www.csapi.org/schema/parlayx/audio_call/v3_2" schemaLocation="parlayx_audio_call_types_3_2.xsd"/>

         <xsd:element name="addMediaForParticipants" type="audio_call_multimedia_local_xsd:addMediaForParticipants"/>
         <xsd:complexType name="addMediaForParticipants">
            <xsd:sequence>
               <xsd:element name="callSessionIdentifier" type="xsd:string"/>
               <xsd:element name="callParticipants" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="mediaInfo" type="parlayx_common_xsd:MediaInfo" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="addMediaForParticipantsResponse" type="audio_call_multimedia_local_xsd:addMediaForParticipantsResponse"/>
         <xsd:complexType name="addMediaForParticipantsResponse">
            <xsd:sequence/>
         </xsd:complexType>

         <xsd:element name="deleteMediaForParticipants" type="audio_call_multimedia_local_xsd:deleteMediaForParticipants"/>
         <xsd:complexType name="deleteMediaForParticipants">
            <xsd:sequence>
               <xsd:element name="callSessionIdentifier" type="xsd:string"/>
               <xsd:element name="callParticipants" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="media" type="parlayx_common_xsd:Media" minOccurs="1" maxOccurs="unbounded"/>
               <xsd:element name="charging" type="parlayx_common_xsd:ChargingInformation" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="deleteMediaForParticipantsResponse" type="audio_call_multimedia_local_xsd:deleteMediaForParticipantsResponse"/>
         <xsd:complexType name="deleteMediaForParticipantsResponse">
            <xsd:sequence/>
         </xsd:complexType>

         <xsd:element name="getMediaForParticipant" type="audio_call_multimedia_local_xsd:getMediaForParticipant"/>
         <xsd:complexType name="getMediaForParticipant">
            <xsd:sequence>
               <xsd:element name="callSessionIdentifier" type="xsd:string"/>
               <xsd:element name="callParticipant" type="xsd:anyURI"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getMediaForParticipantResponse" type="audio_call_multimedia_local_xsd:getMediaForParticipantResponse"/>
         <xsd:complexType name="getMediaForParticipantResponse">
            <xsd:sequence>
               <xsd:element name="result" type="parlayx_common_xsd:MediaInfo" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getMediaForCall" type="audio_call_multimedia_local_xsd:getMediaForCall"/>
         <xsd:complexType name="getMediaForCall">
            <xsd:sequence>
               <xsd:element name="callSessionIdentifier" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getMediaForCallResponse" type="audio_call_multimedia_local_xsd:getMediaForCallResponse"/>
         <xsd:complexType name="getMediaForCallResponse">
            <xsd:sequence>
               <xsd:element name="result" type="audio_call_xsd:MediaParticipantInfo" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>

   <wsdl:message name="AudioCallMultimedia_addMediaForParticipantsRequest">
      <wsdl:part name="parameters" element="audio_call_multimedia_local_xsd:addMediaForParticipants"/>
   </wsdl:message>

   <wsdl:message name="AudioCallMultimedia_addMediaForParticipantsResponse">
      <wsdl:part name="result" element="audio_call_multimedia_local_xsd:addMediaForParticipantsResponse"/>
   </wsdl:message>

   <wsdl:message name="AudioCallMultimedia_deleteMediaForParticipantsRequest">
      <wsdl:part name="parameters" element="audio_call_multimedia_local_xsd:deleteMediaForParticipants"/>
   </wsdl:message>

   <wsdl:message name="AudioCallMultimedia_deleteMediaForParticipantsResponse">
      <wsdl:part name="result" element="audio_call_multimedia_local_xsd:deleteMediaForParticipantsResponse"/>
   </wsdl:message>

   <wsdl:message name="AudioCallMultimedia_getMediaForParticipantRequest">
      <wsdl:part name="parameters" element="audio_call_multimedia_local_xsd:getMediaForParticipant"/>
   </wsdl:message>

   <wsdl:message name="AudioCallMultimedia_getMediaForParticipantResponse">
      <wsdl:part name="result" element="audio_call_multimedia_local_xsd:getMediaForParticipantResponse"/>
   </wsdl:message>

   <wsdl:message name="AudioCallMultimedia_getMediaForCallRequest">
      <wsdl:part name="parameters" element="audio_call_multimedia_local_xsd:getMediaForCall"/>
   </wsdl:message>

   <wsdl:message name="AudioCallMultimedia_getMediaForCallResponse">
      <wsdl:part name="result" element="audio_call_multimedia_local_xsd:getMediaForCallResponse"/>
   </wsdl:message>

   <wsdl:portType name="AudioCallMultimedia">
      <wsdl:operation name="addMediaForParticipants">
         <wsdl:input message="audio_call_multimedia:AudioCallMultimedia_addMediaForParticipantsRequest"/>
         <wsdl:output message="audio_call_multimedia:AudioCallMultimedia_addMediaForParticipantsResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>

      <wsdl:operation name="deleteMediaForParticipants">
         <wsdl:input message="audio_call_multimedia:AudioCallMultimedia_deleteMediaForParticipantsRequest"/>
         <wsdl:output message="audio_call_multimedia:AudioCallMultimedia_deleteMediaForParticipantsResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>

      <wsdl:operation name="getMediaForParticipant">
         <wsdl:input message="audio_call_multimedia:AudioCallMultimedia_getMediaForParticipantRequest"/>
         <wsdl:output message="audio_call_multimedia:AudioCallMultimedia_getMediaForParticipantResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>

      <wsdl:operation name="getMediaForCall">
         <wsdl:input message="audio_call_multimedia:AudioCallMultimedia_getMediaForCallRequest"/>
         <wsdl:output message="audio_call_multimedia:AudioCallMultimedia_getMediaForCallResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
