resources/wsdl/parlayx_mm_receive_interface_3_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- March 8, 2007 -->
<wsdl:definitions
   name="parlayx_mm_receive_interface"
   targetNamespace="http://www.csapi.org/wsdl/parlayx/multimedia_messaging/receive/v3_1/interface"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:parlayx_mm_receive="http://www.csapi.org/wsdl/parlayx/multimedia_messaging/receive/v3_1/interface"
   xmlns:parlayx_common_faults="http://www.csapi.org/wsdl/parlayx/common/v3_0/faults"
   xmlns:parlayx_mm_xsd="http://www.csapi.org/schema/parlayx/multimedia_messaging/v3_0"
   xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v3_1"
   xmlns:parlayx_mm_receive_local_xsd="http://www.csapi.org/schema/parlayx/multimedia_messaging/receive/v3_1/local">

   <wsdl:import namespace="http://www.csapi.org/wsdl/parlayx/common/v3_0/faults" location="parlayx_common_faults_3_0.wsdl"/>

   <wsdl:types>
      <xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.csapi.org/schema/parlayx/multimedia_messaging/receive/v3_1/local">
         <xsd:import namespace="http://www.csapi.org/schema/parlayx/multimedia_messaging/v3_0" schemaLocation="parlayx_mm_types_3_0.xsd"/>
         <xsd:import namespace="http://www.csapi.org/schema/parlayx/common/v3_1" schemaLocation="parlayx_common_types_3_1.xsd"/>

         <xsd:element name="getReceivedMessages" type="parlayx_mm_receive_local_xsd:getReceivedMessages"/>
         <xsd:complexType name="getReceivedMessages">
            <xsd:sequence>
               <xsd:element name="registrationIdentifier" type="xsd:string"/>
               <xsd:element name="priority" type="parlayx_mm_xsd:MessagePriority" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getReceivedMessagesResponse" type="parlayx_mm_receive_local_xsd:getReceivedMessagesResponse"/>
         <xsd:complexType name="getReceivedMessagesResponse">
            <xsd:sequence>
               <xsd:element name="result" type="parlayx_mm_xsd:MessageReference" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getMessageURIs" type="parlayx_mm_receive_local_xsd:getMessageURIs"/>
         <xsd:complexType name="getMessageURIs">
            <xsd:sequence>
               <xsd:element name="messageRefIdentifier" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getMessageURIsResponse" type="parlayx_mm_receive_local_xsd:getMessageURIsResponse"/>
         <xsd:complexType name="getMessageURIsResponse">
            <xsd:sequence>
               <xsd:element name="result" type="parlayx_mm_xsd:MessageURI"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getMessage" type="parlayx_mm_receive_local_xsd:getMessage"/>
         <xsd:complexType name="getMessage">
            <xsd:sequence>
               <xsd:element name="messageRefIdentifier" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getMessageResponse" type="parlayx_mm_receive_local_xsd:getMessageResponse"/>
         <xsd:complexType name="getMessageResponse">
            <xsd:sequence/>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>

   <wsdl:message name="ReceiveMessage_getReceivedMessagesRequest">
      <wsdl:part name="parameters" element="parlayx_mm_receive_local_xsd:getReceivedMessages"/>
   </wsdl:message>

   <wsdl:message name="ReceiveMessage_getReceivedMessagesResponse">
      <wsdl:part name="result" element="parlayx_mm_receive_local_xsd:getReceivedMessagesResponse"/>
   </wsdl:message>

   <wsdl:message name="ReceiveMessage_getMessageURIsRequest">
      <wsdl:part name="parameters" element="parlayx_mm_receive_local_xsd:getMessageURIs"/>
   </wsdl:message>

   <wsdl:message name="ReceiveMessage_getMessageURIsResponse">
      <wsdl:part name="result" element="parlayx_mm_receive_local_xsd:getMessageURIsResponse"/>
   </wsdl:message>

   <wsdl:message name="ReceiveMessage_getMessageRequest">
      <wsdl:part name="parameters" element="parlayx_mm_receive_local_xsd:getMessage"/>
   </wsdl:message>

   <wsdl:message name="ReceiveMessage_getMessageResponse">
      <wsdl:part name="result" element="parlayx_mm_receive_local_xsd:getMessageResponse"/>
   </wsdl:message>

   <wsdl:portType name="ReceiveMessage">
      <wsdl:operation name="getReceivedMessages">
         <wsdl:input message="parlayx_mm_receive:ReceiveMessage_getReceivedMessagesRequest"/>
         <wsdl:output message="parlayx_mm_receive:ReceiveMessage_getReceivedMessagesResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>

      <wsdl:operation name="getMessageURIs">
         <wsdl:input message="parlayx_mm_receive:ReceiveMessage_getMessageURIsRequest"/>
         <wsdl:output message="parlayx_mm_receive:ReceiveMessage_getMessageURIsResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>

      <wsdl:operation name="getMessage">
         <wsdl:input message="parlayx_mm_receive:ReceiveMessage_getMessageRequest"/>
         <wsdl:output message="parlayx_mm_receive:ReceiveMessage_getMessageResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
