resources/wsdl/UserLoginServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.nortel.com/xmlprotocol/wsdl/communications/portal_services/user_login/v1_1/" 
xmlns:impl="http://www.nortel.com/xmlprotocol/wsdl/communications/portal_services/user_login/v1_1/" 
xmlns:intf="http://www.nortel.com/xmlprotocol/wsdl/communications/portal_services/user_login/v1_1/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:xsd1="http://www.csapi.org/schema/parlayx/common/v2_1" 
xmlns:parlayx_common_faults="http://www.csapi.org/wsdl/parlayx/common/v2_0/faults">

<wsdl:import namespace="http://www.csapi.org/wsdl/parlayx/common/v2_0/faults" location="parlayx_common_faults_2_0.wsdl"/>

 <wsdl:types>
  <schema targetNamespace="http://www.nortel.com/xmlprotocol/wsdl/communications/portal_services/user_login/v1_1/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="userLoginResponse">
    <complexType>
     <sequence>
      <element name="userLoginReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="userLogout">
    <complexType>
     <sequence>
      <element name="username" nillable="true" type="xsd:string"/>
      <element name="password" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="userLogoutResponse">
    <complexType>
     <sequence>
      <element name="userLogoutReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="userLogin">
    <complexType>
     <sequence>
      <element name="username" nillable="true" type="xsd:string"/>
      <element name="password" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  	<xsd:import
  		namespace="http://www.csapi.org/schema/parlayx/common/v2_1"
  		schemaLocation="parlayx_common_types_2_1.xsd">
  	</xsd:import></xsd:schema>
 </wsdl:types>

   <wsdl:message name="userLoginRequest">
     <wsdl:part element="intf:userLogin" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="userLogoutResponse">
     <wsdl:part element="intf:userLogoutResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="userLogoutRequest">
     <wsdl:part element="intf:userLogout" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="userLoginResponse">
     <wsdl:part element="intf:userLoginResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="ServiceException">
   	<wsdl:part name="ServiceException"
   		type="xsd1:ServiceException">
   	</wsdl:part>
   </wsdl:message>
   <wsdl:message name="PolicyException">
   	<wsdl:part name="PolicyException" type="xsd1:PolicyException"></wsdl:part>
   </wsdl:message>

   <wsdl:portType name="UserLoginServices">
     <wsdl:operation name="userLogin">
       <wsdl:input message="intf:userLoginRequest" name="userLoginRequest"/>

       <wsdl:output message="intf:userLoginResponse" name="userLoginResponse"/>
       <wsdl:fault name="ServiceException" message="intf:ServiceException"/>
       <wsdl:fault name="PolicyException" message="intf:PolicyException"/>

    </wsdl:operation>

     <wsdl:operation name="userLogout">
       <wsdl:input message="intf:userLogoutRequest" name="userLogoutRequest"/>

       <wsdl:output message="intf:userLogoutResponse" name="userLogoutResponse"/>
       <wsdl:fault name="ServiceException" message="intf:ServiceException"/>
       <wsdl:fault name="PolicyException" message="intf:PolicyException"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="UserLoginServicesSoapBinding" type="intf:UserLoginServices">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="userLogin">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="userLoginRequest">
         <wsdlsoap:body use="literal"/>
      </wsdl:input>
       <wsdl:output name="userLoginResponse">
         <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException" />
      <wsdl:fault name="PolicyException" />
    </wsdl:operation>

     <wsdl:operation name="userLogout">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="userLogoutRequest">
         <wsdlsoap:body use="literal"/>
      </wsdl:input>
       <wsdl:output name="userLogoutResponse">
         <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException" />
      <wsdl:fault name="PolicyException" />
    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="UserLoginServicesService">
     <wsdl:port binding="intf:UserLoginServicesSoapBinding" name="UserLoginServices">
       <wsdlsoap:address location="http://localhost:9080/dummy/services/UserLoginServices"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
